# 01 Identifying individuals, variables and categorical variables in a data set

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

In [2]:
import findspark; findspark.init()
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.appName('statistics').master('local').getOrCreate()

[khanacademy](https://www.khanacademy.org/math/ap-statistics/analyzing-categorical-ap/analyzing-one-categorical-variable/v/identifying-individuals-variables-and-categorical-variables-in-a-data-set?modal=1)

<img src="imgs/Screen Shot 2019-08-12 at 9.31.19 AM.png" width="80%" height="30%">
<img src="imgs/Screen Shot 2019-08-12 at 9.30.59 AM.png" width="80%" height="30%">

In [3]:
dataset = {
    'Drink': ['Brewed coffee', 'Caffe latte', 'Caffe mocha', 'Cappuccino', 'Iced brewed coffee', 'Chai latte'],
    'Type': ['Hot', 'Hot', 'Hot', 'Hot', 'Cold', 'Hot'],
    'Calories': [4, 100, 170, 60, 60, 120],
    'Sugars (g)': [0, 14, 27, 8, 15, 25],
    'Caffein (mg)': [260, 75, 95, 75, 120, 60]
    }

In [4]:
df = pd.DataFrame(dataset).set_index("Drink")
df

                    Type  Calories  Sugars (g)  Caffein (mg)
Drink
Brewed coffee        Hot         4           0           260
Caffe latte          Hot       100          14            75
Caffe mocha          Hot       170          27            95
Cappuccino           Hot        60           8            75
Iced brewed coffee  Cold        60          15           120
Chai latte           Hot       120          25            60

In [5]:
sdf = spark.createDataFrame(zip(*dataset.values()), schema=list(dataset.keys()))
sdf.show()

+------------------+----+--------+----------+------------+
|             Drink|Type|Calories|Sugars (g)|Caffein (mg)|
+------------------+----+--------+----------+------------+
|     Brewed coffee| Hot|       4|         0|         260|
|       Caffe latte| Hot|     100|        14|          75|
|       Caffe mocha| Hot|     170|        27|          95|
|        Cappuccino| Hot|      60|         8|          75|
|Iced brewed coffee|Cold|      60|        15|         120|
|        Chai latte| Hot|     120|        25|          60|
+------------------+----+--------+----------+------------+

In [6]:
# df = pd.get_dummies(df)
df = pd.get_dummies(df, columns=['Type'], prefix="Type")
df

                    Calories  Sugars (g)  Caffein (mg)  Type_Cold  Type_Hot
Drink
Brewed coffee              4           0           260          0         1
Caffe latte              100          14            75          0         1
Caffe mocha              170          27            95          0         1
Cappuccino                60           8            75          0         1
Iced brewed coffee        60          15           120          1         0
Chai latte               120          25            60          0         1

In [7]:
df = df.drop(columns=['Type_Hot'])
df

                    Calories  Sugars (g)  Caffein (mg)  Type_Cold
Drink
Brewed coffee              4           0           260          0
Caffe latte              100          14            75          0
Caffe mocha              170          27            95          0
Cappuccino                60           8            75          0
Iced brewed coffee        60          15           120          1
Chai latte               120          25            60          0