In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

[khanacademy](https://www.khanacademy.org/math/ap-statistics/probability-ap/randomness-probability-simulation/v/random-number-list-to-run-experiment?modal=1)

<img src="imgs/AnotaciÃ³n 2020-03-01 025415.png">

In [2]:
df = DataFrame({
    'Experiment': [1, 2, 3],
    '# of boxes': [8, 17, 10]
})

In [3]:
df

   Experiment  # of boxes
0           1           8
1           2          17
2           3          10

In [4]:
df['# of boxes'].mean()

11.666666666666666