In [20]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from scipy import stats

[khanacademy](https://www.khanacademy.org/math/ap-statistics/density-curves-normal-distribution-ap/measuring-position/v/z-score-introduction?modal=1)

<img src="imgs/Screen Shot 2019-08-12 at 8.25.30 PM.png">

$$ Z = \frac{x - \mu}{\sigma} $$

In [9]:
x = np.array([2, 2, 3, 2, 5, 1, 6])

In [10]:
mu = np.mean(x)
sigma = np.std(x)

In [25]:
z_score = (x - mu) / sigma

In [31]:
# alternative way
z_score_ = stats.zscore(x)

In [32]:
z_score

array([-0.59160798, -0.59160798,  0.        , -0.59160798,  1.18321596,
       -1.18321596,  1.77482393])

In [33]:
z_score_

array([-0.59160798, -0.59160798,  0.        , -0.59160798,  1.18321596,
       -1.18321596,  1.77482393])

In [36]:
df = DataFrame({'lengths of wigned trutles (cm)': x, 'Z-score':z_score_})

In [37]:
df

   lengths of wigned trutles (cm)   Z-score
0                               2 -0.591608
1                               2 -0.591608
2                               3  0.000000
3                               2 -0.591608
4                               5  1.183216
5                               1 -1.183216
6                               6  1.774824