# 04 Random numbers for experimental probability

In [1]:
%%html
<iframe width="700" height="400" src="https://www.youtube.com/embed/vjGINFbV8Cs/" frameborder="0" allowfullscreen></iframe>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

[khanacademy](https://www.khanacademy.org/math/ap-statistics/probability-ap/randomness-probability-simulation/v/random-numbers-for-experimental-probability?modal=1)

![Random numbers for experimental probability fig 1](./imgs/07-04-01.png)

In [118]:
def three_rolls_to_ten():
    die = np.arange(1, 7, 1)
    choice = [np.random.choice(die) for i in range(3)]
    return choice, np.sum(choice)

In [130]:
df = DataFrame({'Experiement': [i+1 for i in range(10000)],
                'Sum': [three_rolls_to_ten()[1] for i in range(10000)]}).set_index('Experiement')

In [131]:
df['Win'] = df['Sum'] >= 10

In [132]:
df

             Sum    Win
Experiement
1             15   True
2             12   True
3             14   True
4              8  False
5             12   True
...          ...    ...
9996          10   True
9997           7  False
9998           8  False
9999          12   True
10000          9  False

[10000 rows x 2 columns]

In [133]:
val_count = df['Win'].value_counts()

In [134]:
val_count

True     6283
False    3717
Name: Win, dtype: int64

In [135]:
val_count[True] / val_count.sum() * 100

62.83