In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt

<img src="imgs/Screen Shot 2019-08-10 at 10.57.30 AM.png">

In [97]:
data = {
    '': ['80-100', '60-79', '40-59', '20-39', '0-19'],
    '0-20': [0, 0, 2, 10, 2],
    '21-40': [4, 20, 4, 2, 0],
    '41-60': [16, 30, 32, 8, 0],
    '>60': [20, 10, 32, 0, 8],
}

In [98]:
df = DataFrame(data).set_index('')

In [99]:
df = df.append(df.sum().rename('Total'))

In [100]:
df

        0-20  21-40  41-60  >60

80-100     0      4     16   20
60-79      0     20     30   10
40-59      2      4     32   32
20-39     10      2      8    0
0-19       2      0      0    8
Total     14     30     86   70

In [101]:
df = df.append(DataFrame([df.iloc[-1]/df.iloc[-1].sum()*100],
                            index=['Percentage'],
                            columns=df.columns))

In [102]:
df

            0-20  21-40  41-60   >60
80-100       0.0    4.0   16.0  20.0
60-79        0.0   20.0   30.0  10.0
40-59        2.0    4.0   32.0  32.0
20-39       10.0    2.0    8.0   0.0
0-19         2.0    0.0    0.0   8.0
Total       14.0   30.0   86.0  70.0
Percentage   7.0   15.0   43.0  35.0

In [103]:
df['Total'] = df.sum(axis=1)

In [104]:
df['Percentage'] = df['Total']/df['Total'].sum() * 100

In [109]:
df

            0-20  21-40  41-60   >60  Total  Percentage
80-100       0.0    4.0   16.0  20.0   40.0         8.0
60-79        0.0   20.0   30.0  10.0   60.0        12.0
40-59        2.0    4.0   32.0  32.0   70.0        14.0
20-39       10.0    2.0    8.0   0.0   20.0         4.0
0-19         2.0    0.0    0.0   8.0   10.0         2.0
Total       14.0   30.0   86.0  70.0  200.0        40.0
Percentage   7.0   15.0   43.0  35.0  100.0        20.0

In [120]:
df.loc['Total']['Percentage'] = np.nan

In [121]:
df.loc['Percentage']['Percentage'] = np.nan

In [122]:
df

            0-20  21-40  41-60   >60  Total  Percentage
80-100       0.0    4.0   16.0  20.0   40.0         8.0
60-79        0.0   20.0   30.0  10.0   60.0        12.0
40-59        2.0    4.0   32.0  32.0   70.0        14.0
20-39       10.0    2.0    8.0   0.0   20.0         4.0
0-19         2.0    0.0    0.0   8.0   10.0         2.0
Total       14.0   30.0   86.0  70.0  200.0         NaN
Percentage   7.0   15.0   43.0  35.0  100.0         NaN

            Total  Percentage
80-100       40.0         8.0
60-79        60.0        12.0
40-59        70.0        14.0
20-39        20.0         4.0
0-19         10.0         2.0
Total       200.0         NaN
Percentage  100.0         NaN

In [135]:
marginal_dist_v_df = df.iloc[-2:]

In [136]:
marginal_dist_v_df

            0-20  21-40  41-60   >60  Total  Percentage
Total       14.0   30.0   86.0  70.0  200.0         NaN
Percentage   7.0   15.0   43.0  35.0  100.0         NaN

In [166]:
marginal_dist_h_df = df.loc[:, 'Total':]

In [167]:
marginal_dist_h_df

            Total  Percentage
80-100       40.0         8.0
60-79        60.0        12.0
40-59        70.0        14.0
20-39        20.0         4.0
0-19         10.0         2.0
Total       200.0         NaN
Percentage  100.0         NaN

In [159]:
conditional_dist_df = DataFrame(df.loc[:, '41-60'])

In [161]:
conditional_dist_df = conditional_dist_df.iloc[:-2]

In [163]:
conditional_dist_df['Percentage'] = conditional_dist_df['41-60'] / conditional_dist_df['41-60'].sum() * 100

C:\Users\rae\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [164]:
conditional_dist_df

        41-60  Percentage
80-100   16.0   18.604651
60-79    30.0   34.883721
40-59    32.0   37.209302
20-39     8.0    9.302326
0-19      0.0    0.000000

In [154]:
# find a better way to add percentage and total
# and remove unnecessary from marginal dist