# 08 Interquartile range (IQR)

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from scipy import stats

[khanacademy](https://www.khanacademy.org/math/ap-statistics/summarizing-quantitative-data-ap/measuring-spread-quantitative/v/calculating-interquartile-range-iqr?modal=1)
[pandas.DataFrame.quantile](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html)

<img src="imgs/Annotation 2020-02-23 175457.png">
<img src="imgs/Annotation 2020-02-23 175645.png">

In [26]:
x_data = {'x': [4,4,6,7,10,11,12,14,15]}

In [27]:
y_data = {'y': [7, 9, 9, 10, 10, 11, 12, 12, 14]}

In [28]:
x_df = DataFrame(x_data)
y_df = DataFrame(y_data)

In [29]:
x_df.describe()

               x
count   9.000000
mean    9.222222
std     4.146618
min     4.000000
25%     6.000000
50%    10.000000
75%    12.000000
max    15.000000

In [30]:
y_df.describe()

               y
count   9.000000
mean   10.444444
std     2.068279
min     7.000000
25%     9.000000
50%    10.000000
75%    12.000000
max    14.000000

In [31]:
print(x_df.quantile(q=0.75))
print(x_df.quantile(q=0.75, interpolation='nearest'))

print(y_df.quantile(q=0.75))
print(y_df.quantile(q=0.75, interpolation='nearest'))

x    12.0
Name: 0.75, dtype: float64
x    12
Name: 0.75, dtype: int64
y    12.0
Name: 0.75, dtype: float64
y    12
Name: 0.75, dtype: int64

In [32]:
print(stats.iqr(x_df))
print(stats.iqr(y_df))

6.0
3.0

In [66]:
x_df['Rank'] = x_df.index + 1
x_df['Empirical_CDF'] = x_df['Rank'] / x_df.shape[0]
x_q_25 = x_df.x[x_df['Empirical_CDF']>=0.25].reset_index(drop=True)[0]
x_q_50 = x_df.x[x_df['Empirical_CDF']>=0.50].reset_index(drop=True)[0]
x_q_75 = x_df.x[x_df['Empirical_CDF']>=0.75].reset_index(drop=True)[0]

In [67]:
y_df['Rank'] = y_df.index + 1
y_df['Empirical_CDF'] = y_df['Rank'] / y_df.shape[0]
y_q_25 = y_df.y[y_df['Empirical_CDF']>=0.25].reset_index(drop=True)[0]
y_q_50 = y_df.y[y_df['Empirical_CDF']>=0.50].reset_index(drop=True)[0]
y_q_75 = y_df.y[y_df['Empirical_CDF']>=0.75].reset_index(drop=True)[0]

In [72]:
print(f'q 25 {x_q_25} q 50 {x_q_50} q 75 {x_q_75} => iqr = {x_q_75 - x_q_25}')
print(f'q 25 {y_q_25} q 50 {y_q_50} q 75 {y_q_75} => iqr = {y_q_75 - y_q_25}')

q 25 6 q 50 10 q 75 12 => iqr = 6
q 25 9 q 50 10 q 75 12 => iqr = 3