# 03 Probability with discrete random variable example

In [1]:
%%html
<iframe width="700" height="400" src="https://www.youtube.com/embed/d2STHFVHGAg/" frameborder="0" allowfullscreen></iframe>

In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns

[khanacademy](https://www.khanacademy.org/math/ap-statistics/random-variables-ap/discrete-random-variables/v/example-analyzing-discrete-probability-distribution?modal=1)

![Probability with discrete random variable example fig 1](./imgs/09-03-01.png)

In [14]:
df = DataFrame({'X = # of packs': ['P(X)'], '1': [0.2]}).set_index('X = # of packs')

In [15]:
df

                  1
X = # of packs
P(X)            0.2

In [16]:
df['2'] = (1 - df['1']) * 0.2

In [17]:
df

                  1     2
X = # of packs
P(X)            0.2  0.16

In [22]:
df['3'] = (1 - (df['1'] + df['2'])) * 0.2

In [23]:
df

                  1     2      3
X = # of packs
P(X)            0.2  0.16  0.128

In [24]:
df['4'] = (1 - (df['1'] + df['2'] + df['3']))

In [25]:
df

                  1     2      3      4
X = # of packs
P(X)            0.2  0.16  0.128  0.512

In [26]:
df['Total'] = df.sum(axis=1)

In [27]:
df

                  1     2      3      4  Total
X = # of packs
P(X)            0.2  0.16  0.128  0.512    1.0