# 04 Comparing with z-scores

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from scipy import stats

[khanacademy](https://www.khanacademy.org/math/ap-statistics/density-curves-normal-distribution-ap/measuring-position/v/comparing-with-z-scores?modal=1)

![Comparing with z-scores fig 1](./imgs/04-04-01.png)

In [10]:
data = {'Exam': ['LSAT', 'MCAT'], 'Score': [172, 37], 'Mean': [151, 25.1], 'Standard deviation': [10, 6.4]}

In [11]:
df = DataFrame(data)

In [12]:
df['Z-Score'] = (df['Score'] - df['Mean']) / df['Standard deviation']

In [13]:
df

   Exam  Score   Mean  Standard deviation   Z-Score
0  LSAT    172  151.0                10.0  2.100000
1  MCAT     37   25.1                 6.4  1.859375