In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns

[khanacademy](https://www.khanacademy.org/math/ap-statistics/random-variables-ap/discrete-random-variables/v/valid-discrete-probability-distribution-examples?modal=1)

<img src="imgs/Anotación 2020-03-02 070406.png">
<img src="imgs/Anotación 2020-03-02 070516.png">

In [8]:
basketball_df = DataFrame({'Outcome': ['Miss both free throws', 'Make exactly one free throw', 'Make both free throws'],
          'Probabilty': [0.2, 0.5, 0.1]}).set_index('Outcome')

In [9]:
basketball_df

                             Probabilty
Outcome
Miss both free throws               0.2
Make exactly one free throw         0.5
Make both free throws               0.1

In [11]:
basketball_df['Probabilty'].sum() == 1

False

In [30]:
creatures_df = DataFrame({'Type of Earth Creature': ['Chickens', 'Cows', 'Humans'], '#': [97, 47, 77]}).set_index('Type of Earth Creature')

In [31]:
creatures_df

                         #
Type of Earth Creature
Chickens                97
Cows                    47
Humans                  77

In [32]:
creatures_df['Estimated Probabilty'] = creatures_df['#'] / creatures_df['#'].sum()

In [33]:
creatures_df = creatures_df[['Estimated Probabilty']]

In [34]:
creatures_df

                        Estimated Probabilty
Type of Earth Creature
Chickens                            0.438914
Cows                                0.212670
Humans                              0.348416

In [35]:
creatures_df['Estimated Probabilty'].sum() == 1

True