# 13 Example - Analyzing distribution of sum of two normally distributed random variables

In [1]:
%%html
<iframe width="700" height="400" src="https://www.youtube.com/embed/Z6vANdo1L68/" frameborder="0" allowfullscreen></iframe>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

[khanacademy](https://www.khanacademy.org/math/ap-statistics/random-variables-ap/combining-random-variables/v/analyzing-distribution-of-sum-of-two-normally-distributed-random-variables?modal=1)

![Example - Analyzing distribution of sum of two normally distributed random variables fig 1](./imgs/09-13-01.png)

In [2]:
df = DataFrame({'mean': [10, 10], 'std. dev.': [1.5, 2]}, index=['To work', 'To home'])

In [3]:
df

         mean  std. dev.
To work    10        1.5
To home    10        2.0

In [4]:
mean = df['mean'].sum()

In [5]:
var = (df['std. dev.']**2).sum()

In [6]:
std = np.sqrt(var)

In [7]:
mean, var, std

(20, 6.25, 2.5)

In [8]:
x = 25

In [9]:
z_score = (x - mean) / std

In [10]:
z_score

2.0

In [11]:
stats.norm.cdf(z_score)

0.9772498680518208

In [22]:
# find a way to get the ztable and plot the normal dist